attrs
beautifulsoup4
bs4
certifi
cffi
chardet
click
coverage
cryptography
feedparser
Flask
gender-guesser
idna
itsdangerous
Jinja2
joblib
MarkupSafe
more-itertools
nltk
numpy
packaging
pandas
pluggy
py
pycparser
pyparsing
pytest
pytest-asyncio
pytest-cov
python-dateutil
pytz
regex
requests
six
soupsieve
textblob
tqdm
urllib3
wcwidth
Werkzeug
xlrd
